{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <img src="https://res.cloudinary.com/dscoft3v6/image/upload/v1696616553/pngegg-min_jiuxh3.png"
                alt="404 page image" class="mx-auto rounded" style="max-width:70%; max-height: 70%;">
                <h1 class="display-4 logo-font text-black">
                    The page you are looking for isn't available
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'home' %}" 
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                                E.T. go Home
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}