{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center height-vh my-5">
       <div class="col-lg-4 col-12">
          <div class="col-md-12 text-center">
             <img src="https://res.cloudinary.com/dscoft3v6/image/upload/v1696616553/pngegg-min_jiuxh3.png" width="50%">
          </div>
       </div>
       <div class="col-lg-6 col-12 mt-5">
          <div class="col-12 d-flex text-center flex-column justify-content-center align-items-center">
             <h1 class="main-heading">Error 500</h1>
             <h2>The page you are looking for isn't available.<br> E.T. says phone Home</h2>
             <div class="text-center mt-4 mb-5">
                    <h4>
                        <a href="{% url 'home' %}" 
                            class="btn btn-outline-dark save-btn rounded-0 py-1">
                                Home
                        </a>
                    </h4>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}