{% extends 'base.html' %} {% block content %}
{% load static %}

{% load crispy_forms_tags %}


{% block confirm_delete %}
{% endblock confirm_delete %}

<div class="masthead-tall">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text">
                <!-- <div>
                <img src="{{ actor.featured_image.url }}" class="d-block d-md-none actor-img-small m-4">
                </div> -->
                <!-- Actor name goes in these h1 tags -->
                <h1 class="post-title">{{ actor.name }}</h1>
                <p class="post-subtitle">Birthday: {{ actor.birthday }}</p>
                <div class="row">
                    <div class="col post-subtitle">
                        {% if user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_actor' actor.id %}">Edit Actor Profile</a> |
                            <a href="{% url 'delete_actor_confirm' actor.id %}" class="text-danger">Delete Actor Profile</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                <br>
                <!-- <p class="post-subtitle">Reviews:</p> <ul class = "inline-list"> {% for post in posts %} <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li> {% endfor %} </ul> -->
            </div>
            <div class=" d-md-block col-md-4 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in actor.featured_image.url %}
                <img src="https://res.cloudinary.com/dscoft3v6/image/upload/v1687005276/CI%20-%20PP4%20-%20assets/pexels-pixabay-33129_wusex2.jpg" width="100%">
                {% else %}
                <img src=" {{ actor.featured_image.url }}" width="100%" class="cover" alt=" {{ actor.alt_tag }} ">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <!-- The post content goes inside the card-text. -->
                    <!-- Use the | safe filter inside the template tags -->
                    <p class="card-text ">
                        {{ actor.bio | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h4>Reviews featuring {{ actor.name }}:</h4>
        <div class="row g-2">
            {% if posts %}
                {% for post in posts %}
                <div class="col-md-3 col-sm-4 inline-list-item mb-1">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dscoft3v6/image/upload/v1687005276/CI%20-%20PP4%20-%20assets/pexels-pixabay-33129_wusex2.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt=" {{ post.alt_tag }} ">
                                {% endif %}
                                <div class = "image-flash-small">
                                    <span>
                                        {% if post.score == 5 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        {% elif post.score == 4 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        {% elif post.score == 3 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        {% elif post.score == 2 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        {% elif post.score == 1 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        {% else%}
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        {% endif %}
                                    </span>    
                                </div>
                            </div>
                            <div class="card-title bg-col post-thumbnail-title p-2">
                                <h6 class="card-text">{{ post.title }}</h6>
                                <p class="card-text">{{ post.created_on}}</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>Sorry, we don't have any reviews featuring this actor at the moment</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}