{% extends "post_detail.html" %}

{% block extra_title %}| Delete Blog Post?{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block confirm_delete %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h5 class="logo-font mb-4">Confirm Deletion Of Blog Post</h5>            
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <p>Are you sure you want to delete the following post?</p>
            <p class="font-italic">{{ post.name }}</p>
            <div class="text-right mt-5">                
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">Cancel</a>
                <a href="{% url 'delete_blog_post' post.id %}" class="btn btn-red text-white rounded-0">Delete</a>                
            </div>
        </div>
    </div>
</div>

{% endblock confirm_delete %}