{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container container-css">
    <div class="row justify-content-center mt-5">
        <div class="col col-md-6 col-sm-12">
            <h2>Edit the Blog Post below</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <form method="post" action="{% url 'edit_blog_post' post.id %}">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Save</button>
            </form>
            <a href="{% url 'home' %}">
                <div>
                    <button class="btn btn-home btn-lg">Return to Home!</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}