{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}| Edit Comment{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block edit_comment %}
<div class="overlay"></div>
<div class="container my-5">
    <div class="col-11 col-md-4 confirm_popup center p-5 shadow-lg">
        <div class="row justify-content-center">
            <div class="col-12">
                <hr>
                <h5 class="logo-font mb-4">Edit your Blog Comment</h5>            
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <p>Are you sure you want to edit the following comment?</p>
                <form action="{% url 'edit_comment' comment.id %}" method="POST" class="form mb-2">
                    {% csrf_token %}
                    {{ form.as_p }}
                <div class="text-right mt-5">                
                    <a href="{% url 'home' %}" class="btn btn-dark rounded-0">Cancel</a>
                    <button type="submit" class="btn btn-outline-dark rounded-0">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock edit_comment %}

